{
    "name": "havana",
    "description": "OpenStack Havana",
    "cookbook_versions": {
    },
    "json_class": "Chef::Environment",
    "chef_type": "environment",
    "default_attributes": {
    },
    "override_attributes": {
        "osops": {
            "do_package_upgrades": false
        },
        "openssh": {
            "server": {
                "subsystem": "sftp {{sftp}}"
            }
        },
        "monitoring": {
            "procmon_provider": "monit"
        },
        "cinder": {
          "storage": {
            "rbd": {
              "rbd_secret_uuid": "ec8cae63-ac2a-4952-bc4a-81086b462a24"
            },
            "provider": "rbd"
          }
        },
        "glance": {
            "image_upload": true,
            "api": {
              "default_store": "rbd"
            },
            "images": [
                "cirros"
            ]
        },
        "nova": {
            "libvirt": {
                "virt_type": "qemu",
                "libvirt_cpu_mode": "{{libvirt_cpu_mode}}",
                "libvirt_cpu_model": "{{libvirt_cpu_model}}"
            }
        },
        "vips": {
          "config": {
            "{{network_prefix}}.100": {
              "vrid": 100,
              "network": "public"
            },
            "{{network_prefix}}.101": {
              "vrid": 101,
              "network": "public"
            },
            "{{network_prefix}}.102": {
              "vrid": 102,
              "network": "public"
            }
          },
          "nova-api": "{{network_prefix}}.100",
          "nova-xvpvnc-proxy": "{{network_prefix}}.100",
          "rabbitmq-queue": "{{network_prefix}}.101",
          "keystone-service-api": "{{network_prefix}}.100",
          "mysql-db": "{{network_prefix}}.102",
          "keystone-admin-api": "{{network_prefix}}.100",
          "nova-novnc-proxy": "{{network_prefix}}.100",
          "glance-registry": "{{network_prefix}}.100",
          "glance-api": "{{network_prefix}}.100",
          "nova-ec2-public": "{{network_prefix}}.100",
          "keystone-internal-api": "{{network_prefix}}.100"
        },
        "mysql": {
            "allow_remote_root": true,
            "root_network_acl": "%"
        },
        "osops_networks": {
          "nova": "{{network_prefix}}.0/24",
          "public": "{{network_prefix}}.0/24",
          "management": "{{network_prefix}}.0/24"
        },
        "ceph": {
          "monitor_secret": "AQASt4BSQIphGhAAKEtwyaQr6sI01C1VO8oh2Q==",
          "install_debug": false,
          "install_method": "chef",
          "repo_url": "http://eu.ceph.com",
          "config": {
            "fsid": "5bc3130e-4edc-4556-aad4-7838ddeaee36",
            "mon_initial_members": "{{groups.openstack[0]}}"
          }
        }
    }
}
