{
    "name": "DummyEngine",
    "cloud_config": {
        "identity": {
            "url": "http://localhost/",
            "uri": "http://localhost:5000/v2.0/",
            "admin_username": "admin",
            "admin_password": "{{devstack_password}}",
            "admin_tenant_name": "demo"
        }
    }
}
