DATABASE_PASSWORD={{devstack_password}}
RABBIT_PASSWORD={{devstack_password}}
SERVICE_PASSWORD={{devstack_password}}
ADMIN_PASSWORD={{devstack_password}}
SERVICE_TOKEN={{devstack_password}}
SWIFT_HASH={{devstack_password}}
LOGFILE=logs/stack.sh.log
SCEEN_LOGDIR=logs
